@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');

body {
  background-color: #f2f2f2;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #333333;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px 20px;
}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: rgb(53, 53, 52);
  color: white;
  padding: 20px;
}

.header--nav {
  margin-right: 30px;
  font-size: 1.25rem;
}

.header--title {
  font-size: 1.25rem;
  margin-right: auto;
}

.header--icon {
  margin-right: 20px;
  color: aquamarine;
}

.app--container {
  color: rgb(114, 108, 108);
  margin: 5px;
  padding: 5px;
}

a {
  color: #ff6f61;
  text-decoration: none;
  transition: all 0.3s ease;
}

a:hover {
  color: #ff8f7a;
  text-decoration: underline;
}

.item--card {
  font-family: 'Poppins', sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin-bottom: 22px;
  display: flex;
  max-width: 500px;
  align-items: center;
  background-color: white; /* Update to the desired background color for the cards */
  color: #333333;
  border-radius: 10px;
  border: 1px solid #3a3a3b;
}

.item--card img {
  /* width: 100%; */
  height: auto;
  /* display: block; */
  object-fit: cover;
  /* border-top-left-radius: 10px;
  border-top-right-radius: 10px; */
  border-radius: 10px;
}

.item--card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
}

.item--container {
  width: 400px;
}

.item--download--button {
  background-color: #108fba;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

.item--download--button:hover {
  background-color: #0e708e;
}

.home--view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.loading--spinner {
  border: 8px solid #c8c8c8; /* Light gray border */
  border-top: 8px solid #3498db; /* Blue border on top */
  border-radius: 50%; /* Create a circular shape */
  width: 40px; /* Set the width and height of the spinner */
  height: 40px;
  animation: spin 1s linear infinite; /* Apply rotation animation */
  margin: 100px auto; /* Add margin to adjust position */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.no--elements {
  font-size: 25px;
  color: #ff6f61
}

.upload--button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

.upload--button:hover {
  background-color: #3e8e41;
}

.upload--form {
  display: inline-block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  background-color: #151111;
  border-radius: 10px;
}

.upload--input {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #151111;
  color: white;
}

.upload--view {
  text-align: center;
}

.delete--button {
  background-color: #dc0e0e;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

.delete--button:hover {
  background-color: #7a1108;
}

.delete--form {
  display: inline-block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  background-color: #151111;
  border-radius: 10px;
}

.delete--input {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: whitesmoke;
}

.delete--view {
  text-align: center;
}

.github--link {
  color: #ff6f61; /* Updated to a different color */
}

.about--screen {
  padding-left: 15px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
